<div class="card-header">Pacientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Pacientes</h5>
      <div *ngIf = "patients?.length == 0">
        <div class="alert alert-primary" role="alert">
          No hay registros
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>numero de documento</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
              <td>{{patient.documentNumber}}</td>
              <td>{{patient.name}}</td>
              <td>{{patient.lastName}}</td>
              <td>{{patient.dateBirth}}</td>    
            </tr>
        </tbody>
    </table>
    
  </div>
